# dnmp alias
# 此处的相关的文件路径需要配置
export DNMP_DIR="~/Documents/my_projects/dnmp"
export DNMP_PROJECT="demo"

alias dnginx="docker exec -it ${DNMP_PROJECT}_nginx /bin/sh"
alias dphp="docker exec -it ${DNMP_PROJECT}_php /bin/sh"
alias dphp56="docker exec -it ${DNMP_PROJECT}_php56 /bin/sh"
alias dphp54="docker exec -it ${DNMP_PROJECT}_php54 /bin/sh"
alias dmysql="docker exec -it ${DNMP_PROJECT}_mysql /bin/bash"
alias dredis="docker exec -it ${DNMP_PROJECT}_redis /bin/sh"

alias startdnmp="docker-compose --env-file ${DNMP_DIR}/.env -p ${DNMP_PROJECT} -f ${DNMP_DIR}/docker-compose.yml up -d"
alias stopdnmp="docker-compose --env-file ${DNMP_DIR}/.env -p ${DNMP_PROJECT} -f ${DNMP_DIR}/docker-compose.yml down"